$base-theme:Bootstrap;
$skin-name:piKinco;
$brand-primary: #0275d8;
$brand-info: #5bc0de;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$body-bg: #111111;
$body-color: #ffffff;
$btn-secondary-bg: #444444;
$btn-secondary-color: #ffffff;
$card-bg: #111111;
$panel-text: #ffffff;
$card-cap-bg: #2b2b2b;
$header-text: #bbbbbb;
$dropdown-bg: #333333;
$dropdown-link-color: #ffffff;
$dropdown-link-hover-bg: #222222;
$dropdown-link-hover-color: #ffffff;
$modal-content-bg: #333333;
$window-text: #ffffff;
$series-a: #0275d8;
$series-b: #ffd246;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #aa46be;
