@use "variables" as *;

nav a:visited, a:link {
  color: $pk-nav-a-color;
}

nav a:hover {
  color: $pk-nav-a-color-hover;
  background-color: $pk-nav-a-background-color-hover;
}

nav a.active {
  color: $pk-nav-a-color-active
}
