<nav><h1 class='pk-h1 pk-breadcrumb'><a routerLink="/play">{{Localise(LocalisationService.CaptionConstants.Play)}}</a> | <span [@LabelFlyInOutAnimation]>{{PageTitle}}</span></h1></nav>
<main class='pk-main-content BuyTicketsPage' [@PageFlyInOutAnimation]>
  <RootCollapserComponent></RootCollapserComponent>
  <section class="pk-main-section collapse show" id="CollapsableSection">
    <div *ngIf="Game">      
      <div>        
        <form name="SelectDrawsForm" *ngIf="DrawDaysOptions" class="pk-select-draws-form">
          <div class="pk-inputform">
            <h2>{{Localise(LocalisationService.CaptionConstants.DrawForWhichDaysWeeks)}}</h2>
            <ul class="pk-day-options">
              <li class="pk-inputform">
                <label>
                  <input type="checkbox" name="Monday" title="{{Localise(LocalisationService.CaptionConstants.DrawOnMonday)}}" [(ngModel)]="DrawDaysOptions.Monday" [disabled]="!DrawDaysOptions.IsAvailableOnMonday" (change)="OnSelectDrawOptions($event)" />
                  {{Localise(LocalisationService.CaptionConstants.DrawOnMonday)}}
                </label>
              </li>
              <li class="pk-inputform">
                <label>
                  <input type="checkbox" name="Tuesday" title="{{Localise(LocalisationService.CaptionConstants.DrawOnTuesday)}}" [(ngModel)]="DrawDaysOptions.Tuesday" [disabled]="!DrawDaysOptions.IsAvailableOnTuesday" (change)="OnSelectDrawOptions($event)" />
                  {{Localise(LocalisationService.CaptionConstants.DrawOnTuesday)}}
                </label>
              </li>
              <li class="pk-inputform">
                <label>
                  <input type="checkbox" name="Wednesday" title="{{Localise(LocalisationService.CaptionConstants.DrawOnWednesday)}}" [(ngModel)]="DrawDaysOptions.Wednesday" [disabled]="!DrawDaysOptions.IsAvailableOnWednesday" (change)="OnSelectDrawOptions($event)" />
                  {{Localise(LocalisationService.CaptionConstants.DrawOnWednesday)}}
                </label>
              </li>
              <li class="pk-inputform">
                <label>
                  <input type="checkbox" name="Thursday" title="{{Localise(LocalisationService.CaptionConstants.DrawOnThursday)}}" [(ngModel)]="DrawDaysOptions.Thursday" [disabled]="!DrawDaysOptions.IsAvailableOnThursday" (change)="OnSelectDrawOptions($event)" />
                  {{Localise(LocalisationService.CaptionConstants.DrawOnThursday)}}
                </label>
              </li>
              <li class="pk-inputform">
                <label>
                  <input type="checkbox" name="Friday" title="{{Localise(LocalisationService.CaptionConstants.DrawOnFriday)}}" [(ngModel)]="DrawDaysOptions.Friday" [disabled]="!DrawDaysOptions.IsAvailableOnFriday" (change)="OnSelectDrawOptions($event)" />
                  {{Localise(LocalisationService.CaptionConstants.DrawOnFriday)}}
                </label>
              </li>
              <li class="pk-inputform">
                <label>
                  <input type="checkbox" name="Saturday" title="{{Localise(LocalisationService.CaptionConstants.DrawOnSaturday)}}" [(ngModel)]="DrawDaysOptions.Saturday" [disabled]="!DrawDaysOptions.IsAvailableOnSaturday" (change)="OnSelectDrawOptions($event)" />
                  {{Localise(LocalisationService.CaptionConstants.DrawOnSaturday)}}
                </label>
              </li>
              <li class="pk-inputform">
                <label>
                  <input type="checkbox" name="Sunday" title="{{Localise(LocalisationService.CaptionConstants.DrawOnSunday)}}" [(ngModel)]="DrawDaysOptions.Sunday" [disabled]="!DrawDaysOptions.IsAvailableOnSunday" (change)="OnSelectDrawOptions($event)" />
                  {{Localise(LocalisationService.CaptionConstants.DrawOnSunday)}}
                </label>
              </li>
            </ul>

            <h2>
              <label>
                {{Localise(LocalisationService.CaptionConstants.DrawForHowManyWeeks)}}
                <select class="pk-weeks" name="DrawForHowManyWeeksSelect" [(ngModel)]="SelectedWeek" title="{{Localise(LocalisationService.CaptionConstants.DrawForHowManyWeeks)}}" (change)="OnSelectDrawWeeks($event)">
                  <option *ngFor="let week of Weeks" [ngValue]=week>{{week}}</option>
                </select>
              </label>
            </h2>
          </div>          
        </form>
      </div>
      <div>
        <h2 class="pk-your-order">{{Localise(LocalisationService.CaptionConstants.YourOrder)}}</h2>
        <div *ngIf="TicketOrders && TicketOrders.length > 0 ">
          <kendo-grid [kendoGridBinding]="TicketOrders"                      
                      [skip]="State.skip"                                            
                      [filterable]="StateOptions.filterable"
                      [pageSize]="StateOptions.pageSize"
                      [pageable]="StateOptions.pageable"
                      [scrollable]="StateOptions.scrollable"
                      [sortable]="StateOptions.sortable"                      
                      [sort]="State.sort"
                      (dataStateChange)="OnDataStateChange($event)"                      
                      class="pk-list">
            <kendo-grid-column field="ID" [hidden]="true" [filterable]="false"></kendo-grid-column>
            <kendo-grid-column field="TicketOrderStatus" [hidden]="true" [filterable]="false"></kendo-grid-column>
            <kendo-grid-column field="PickedNumbers">
              <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                {{Localise(LocalisationService.CaptionConstants.Numbers)}}
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.PickedNumbers}}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="GameDisplayName">
              <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                {{Localise(LocalisationService.CaptionConstants.Game)}}
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span>{{Localise(dataItem.GameDisplayName)}}</span>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="GamePrice" filter="numeric">
              <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex" format="{0:c}">                
                {{Localise(LocalisationService.CaptionConstants.Price)}}
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span [innerHTML]="GlobalisationService.FormatCurrency(GlobalisationService.ToSessionCurrency(dataItem.GamePrice), true) | safe"></span>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="GameDrawDateUTC" filter="date">
              <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                {{Localise(LocalisationService.CaptionConstants.DrawDate)}}
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span [innerHTML]="GlobalisationService.FormatDate(dataItem.GameDrawDateUTC) | safe" title="{{GlobalisationService.FormatLongDate(dataItem.GameDrawDateUTC)}}"></span>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="TicketOrderStatusDisplayName">
              <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                {{Localise(LocalisationService.CaptionConstants.Status)}}
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{Localise(dataItem.TicketOrderStatusDisplayName)}}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-messages pagerItemsPerPage="{{Localise(LocalisationService.CaptionConstants.PagerItemsPerPage)}}"></kendo-grid-messages>
          </kendo-grid>
        </div>
        <div *ngIf="HasEnoughFunds">
          <input *ngIf="TotalPrice" class="pk-buy-tickets-button" type="submit" value="{{Localise(LocalisationService.CaptionConstants.BuyTicketNow, null, GlobalisationService.FormatCurrency(GlobalisationService.ToSessionCurrency(TotalPrice)))}}" (click)="OnBuyTickets()" [disabled]="!HasEnoughFunds" />
          <div class="pk-details pk-ticket-details pk-jumbotron">
            <h2 *ngIf="LastClosingDateUTC && LastClosingNumbers" [innerHTML]="Localise(LocalisationService.CaptionConstants.LastClosingValueOn, null, GlobalisationService.FormatDate(LastClosingDateUTC), LastClosingNumbers) | safe"></h2>
            <h2 *ngIf="CurrentTime && Numbers" [innerHTML]="Localise(LocalisationService.CaptionConstants.CurrentValueAsOf, null, GlobalisationService.FormatDate(CurrentTime), Numbers) | safe"></h2>
            <h2 *ngIf="RemainingHours && RemainingMinutes && RemainingSeconds" [innerHTML]="Localise(LocalisationService.CaptionConstants.DrawClosesIn, null, RemainingHours.toString(), RemainingMinutes.toString(), RemainingSeconds.toString())| safe"></h2>            
            <h2><a routerLink="/locations/{{SessionService.Session.CurrentLocation.ISO2Code}}/rules">{{Localise(LocalisationService.CaptionConstants.GamePlayRules)}}</a></h2>
          </div>
        </div>
        <div *ngIf="!HasEnoughFunds">
          <div class="pk-jumbotron">
            <h2 class="pk-sentence" *ngIf="Balance"><a routerLink="/dashboard/funding/viewstatement">{{Localise(LocalisationService.CaptionConstants.YouHaveABalanceOf, null, GlobalisationService.FormatCurrency(GlobalisationService.ToSessionCurrency(Balance)))}}</a></h2>
            <h2 class="pk-sentence" *ngIf="RequiredAmount">{{Localise(LocalisationService.CaptionConstants.YouNeedToAddAtLeastToYourAccount, null, GlobalisationService.FormatCurrency(GlobalisationService.ToSessionCurrency(RequiredAmount)))}}</h2>
            <h2><a routerLink="/dashboard/funding/addfunds">{{Localise(LocalisationService.CaptionConstants.AddFunds)}}</a></h2>
            <h2><a routerLink="/play">{{Localise(LocalisationService.CaptionConstants.ChooseAnotherGame)}}</a></h2>            
          </div>
          <div class="clearfix" style="clear:both;"></div>
        </div>        
      </div>            
    </div>
  </section>
</main>
<RootBackgroundComponent [BackgroundVideoUrl]="BackgroundVideoUrl"></RootBackgroundComponent>
