<article class="pk-component WinningTicketDetailsComponent">
    <div class="pk-jumbotron">
        <h2>Date</h2>
        <h2>Amount</h2>
        <h2>Match</h2>
        <h2>Played</h2>    
        <h2>Would you like to sell something to  this winner? If winner wants contact</h2>
        <h2>There were x other similar wins today</h2>
        <h2>There were x other similar wins last week</h2>
        <h2>There were x other similar wins last month</h2>
        <h2>There were x other similar wins last year</h2>
        <h2>There were x other similar in all time</h2>
    </div>
</article>
