<article class="pk-component WinningTicketListComponent">
  <p>
    <select title="Winning Tickets">
      <ng-container *ngIf="AuthenticationService.IsAuthenticated">
        <option>{{Localise(LocalisationService.CaptionConstants.MyWinningTickets)}}</option>
        <option>{{Localise(LocalisationService.CaptionConstants.MyWinningTicketsInTheLastDay)}}</option>
        <option>{{Localise(LocalisationService.CaptionConstants.MyWinningTicketsInTheLastWeek)}}</option>
        <option>{{Localise(LocalisationService.CaptionConstants.MyWinningTicketsInTheLastMonth)}}</option>
        <option>{{Localise(LocalisationService.CaptionConstants.MyWinningTicketsInTheLastYear)}}</option>
      </ng-container>
      <option>{{Localise(LocalisationService.CaptionConstants.AllWinningTickets)}}</option>
      <option>{{Localise(LocalisationService.CaptionConstants.AllWinningTicketsInTheLastDay)}}</option>
      <option>{{Localise(LocalisationService.CaptionConstants.AllWinningTicketsInTheLastWeek)}}</option>
      <option>{{Localise(LocalisationService.CaptionConstants.AllWinningTicketsInTheLastMonth)}}</option>
      <option>{{Localise(LocalisationService.CaptionConstants.AllWinningTicketsInTheLastYear)}}</option>
      <option>{{Localise(LocalisationService.CaptionConstants.TopWinningTickets)}}</option>
      <option>{{Localise(LocalisationService.CaptionConstants.TopWinningTicketsInTheLastDay)}}</option>
      <option>{{Localise(LocalisationService.CaptionConstants.TopWinningTicketsInTheLastWeek)}}</option>
      <option>{{Localise(LocalisationService.CaptionConstants.TopWinningTicketsInTheLastMonth)}}</option>
      <option>{{Localise(LocalisationService.CaptionConstants.TopWinningTicketsInTheLastYear)}}</option>
    </select>
  </p>
</article>
