<article class="pk-component FormsAuthenticationResetPasswordComponent">
  <form name="FormsAuthenticationResetPassword">
    <div class="pk-inputform">
      <label>
        {{Localise(LocalisationService.CaptionConstants.Username)}}
        <input type="email" name="Username" [(ngModel)]="FormsAuthenticationResetPasswordModel.Username" placeholder="{{Localise(LocalisationService.CaptionConstants.Username)}}" size="30" />
      </label>
    </div>
    <div class="pk-inputform">
      <input type="submit" name="ResetPassword" value="{{Localise(LocalisationService.CaptionConstants.ResetPassword)}}" (click)="OnResetPassword()" />
    </div>
    <a routerLink="/login">{{Localise(this.LocalisationService.CaptionConstants.LogIn)}}</a>
    <a routerLink="/register">{{Localise(this.LocalisationService.CaptionConstants.Register)}}</a>    
    <div class="pk-jumborton error" *ngIf="ErrorMessage">
      <h2>{{ErrorMessage}}</h2>
    </div>
  </form>
</article>
