<nav><h1 class='pk-h1 pk-breadcrumb'><span [@LabelFlyInOutAnimation]>{{PageTitle}}</span></h1></nav>
<main class='pk-main-content' [@PageFlyInOutAnimation]>
  <RootCollapserComponent></RootCollapserComponent>
  <section class="pk-main-section collapse show" id="CollapsableSection">
    <p>
      <select>
        <option>{{Localise(LocalisationService.CaptionConstants.MyTickets)}}</option>
        <option>{{Localise(LocalisationService.CaptionConstants.MyWinningTickets)}}</option>
        <option>{{Localise(LocalisationService.CaptionConstants.MyWinningTicketsInTheLastDay)}}</option>
        <option>{{Localise(LocalisationService.CaptionConstants.MyWinningTicketsInTheLastWeek)}}</option>
        <option>{{Localise(LocalisationService.CaptionConstants.MyWinningTicketsInTheLastMonth)}}</option>
        <option>{{Localise(LocalisationService.CaptionConstants.MyWinningTicketsInTheLastYear)}}</option>
      </select>
    </p>
    <!--<div *ngIf="Tickets && Tickets.length > 0" >
      <kendo-grid [data]="Tickets"
                  [pageSize]="State.take"
                  [skip]="State.skip"
                  [sort]="State.sort"
                  [sortable]="true"
                  [pageable]="true"
                  [scrollable]="'none'"
                  (dataStateChange)="OnDataStateChange($event)"
                  class="pk-list">
        <kendo-grid-column field="ID" [hidden]="true"></kendo-grid-column>
        <kendo-grid-column field="PickedNumbers">
          <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
            {{Localise(LocalisationService.CaptionConstants.Numbers)}}
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <a routerLink="/tickets/{{dataItem.ID}}">{{dataItem.PickedNumbers}}</a>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="GameDisplayName">
          <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
            {{Localise(LocalisationService.CaptionConstants.Game)}}
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <span>{{Localise(dataItem.GameDisplayName)}}</span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="GamePrice">
          <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
            {{Localise(LocalisationService.CaptionConstants.Price)}}
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <span [innerHTML]="GlobalisationService.FormatCurrency(dataItem.GamePrice, true) | safe"></span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="GameDrawDateUTC">
          <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
            {{Localise(LocalisationService.CaptionConstants.DrawDate)}}
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <span [innerHTML]="GlobalisationService.FormatDate(dataItem.GameDrawDateUTC) | safe"></span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="TicketStatus">
          <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
            {{Localise(LocalisationService.CaptionConstants.Outcome)}}
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>-->
    <div *ngIf="Tickets && Tickets.length > 0">
      <kendo-grid [data]="GridData | async"
                  [skip]="State.skip"
                  [filterable]="StateOptions.filterable"
                  [pageSize]="StateOptions.pageSize"
                  [pageable]="StateOptions.pageable"
                  [scrollable]="StateOptions.scrollable"
                  [sortable]="StateOptions.sortable"
                  [sort]="State.sort"
                  (dataStateChange)="OnDataStateChange($event)"
                  class="pk-list">
        <kendo-grid-column field="ID" [hidden]="true" [filterable]="false"></kendo-grid-column>
        <kendo-grid-column field="TicketStatus" [hidden]="true" [filterable]="false"></kendo-grid-column>
        <kendo-grid-column field="PickedNumbers">
          <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
            {{Localise(LocalisationService.CaptionConstants.Numbers)}}
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <a routerLink="/tickets/{{dataItem.ID}}">{{dataItem.PickedNumbers}}</a>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="GameDisplayName">
          <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
            {{Localise(LocalisationService.CaptionConstants.Game)}}
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <span>{{Localise(dataItem.GameDisplayName)}}</span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="GamePrice" filter="numeric">
          <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex" format="{0:c}">
            {{Localise(LocalisationService.CaptionConstants.Price)}}
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <span [innerHTML]="GlobalisationService.FormatCurrency(GlobalisationService.ToSessionCurrency(dataItem.GamePrice), true) | safe"></span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="GameDrawDateUTC" filter="date">
          <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
            {{Localise(LocalisationService.CaptionConstants.DrawDate)}}
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <span [innerHTML]="GlobalisationService.FormatDate(dataItem.GameDrawDateUTC) | safe" title="{{GlobalisationService.FormatLongDate(dataItem.GameDrawDateUTC)}}"></span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="TicketStatusDisplayName">
          <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
            {{Localise(LocalisationService.CaptionConstants.Status)}}
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            {{Localise(dataItem.TicketStatusDisplayName)}}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-messages pagerItemsPerPage="{{Localise(LocalisationService.CaptionConstants.PagerItemsPerPage)}}"></kendo-grid-messages>
      </kendo-grid>
    </div>
    <div class="pk-jumbotron" *ngIf="!Tickets || Tickets.length == 0">
      <h2 class="pk-no-item-in-list">{{Localise(LocalisationService.CaptionConstants.YouDoNotHaveAnyTickets, null)}}</h2>
    </div>
  </section>
</main>
<RootBackgroundComponent [BackgroundVideoUrl]="BackgroundVideoUrl"></RootBackgroundComponent>

