@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables.scss";

input,
button,
optgroup,
input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=tel],
input[type=url],
select,
textarea {
  font-size: 2rem !important;
}


input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=tel],
input[type=url] {  
  border-radius: $input-border-radius;
  border: $input-border;
  color: $input-color;  
  background-color: $input-background-color !important;
}

.pk-inputform {
  input[type=text],
  input[type=number],
  input[type=email],
  input[type=password],
  input[type=tel],
  input[type=url],
  select,
  textarea {    
    clear: both;
    display: block;
  }

  label {
    cursor: pointer;
  }

  label:hover {
    text-decoration: underline;
  }
}

.pk-button {
  border: unset;
  vertical-align: text-top;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pk-button,
input[type='submit'],
input[type='button'],
button {
  font-family: 'Fjalla One', sans-serif !important;
  padding: 1.5rem 3rem;
  border-radius: $pk-button-border-radius;
  font-size: 2rem;
  border-color: $pk-button-border-color;
  border-width: $pk-button-border-width;
  border-style: solid;
  background-color: transparent;
  color: $pk-button-color;
  cursor: pointer;
}

.pk-button:hover,
input[type='submit']:hover,
input[type='button']:hover,
button:hover {
  color: $pk-button-color-hover;
  text-decoration: underline;
  border-width: $pk-button-border-width;
  border-style: outset;
  border-color: $pk-button-border-color;
  background-color: $pk-button-background-color-2;
  background: -webkit-linear-gradient(-180deg, $pk-button-background-color-1, $pk-button-background-color-2, $pk-button-background-color-3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-180deg, $pk-button-background-color-1, $pk-button-background-color-2, $pk-button-background-color-3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-180deg, $pk-button-background-color-1, $pk-button-background-color-2, $pk-button-background-color-3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-180deg, $pk-button-background-color-1, $pk-button-background-color-2, $pk-button-background-color-3); /* Standard syntax */
}


.pk-button[disabled],
input[type='submit'][disabled],
input[type='button'][disabled],
input[type='checkbox'][disabled],
input[type='radio'][disabled],
button[disabled] {
  color: $pk-button-disabled-color;
  cursor: default;
  text-decoration: none;
  background-color: $pk-button-disabled-background-color;
}

.pk-button[disabled]:hover,
input[type='submit'][disabled]:hover,
input[type='button'][disabled]:hover,
input[type='checkbox'][disabled]:hover,
input[type='radio'][disabled]:hover,
button[disabled]:hover {
  cursor: default;
  text-decoration: none;
  color: $pk-button-disabled-color-hover;
  border-style: solid;
}

.pk-clear-background {
  .pk-button,
  input[type='submit'],
  input[type='button'],
  button {    
    border-color: $pk-clear-background-button-border-color;
    color: $pk-clear-background-button-color !important;
    background-color: $pk-clear-background-button-background-color-2;
    background: -webkit-linear-gradient(-180deg, $pk-clear-background-button-background-color-1, $pk-clear-background-button-background-color-2, $pk-clear-background-button-background-color-3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-180deg, $pk-clear-background-button-background-color-1, $pk-clear-background-button-background-color-2, $pk-clear-background-button-background-color-3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-180deg, $pk-clear-background-button-background-color-1, $pk-clear-background-button-background-color-2, $pk-clear-background-button-background-color-3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-180deg, $pk-clear-background-button-background-color-1, $pk-clear-background-button-background-color-2, $pk-clear-background-button-background-color-3); /* Standard syntax */
  }

  .pk-button:hover,
  input[type='submit']:hover,
  input[type='button']:hover,
  button:hover {
    border-color: $pk-clear-background-button-border-color-hover;
    color: $pk-clear-background-button-color-hover !important;
    background-color: $pk-clear-background-button-background-color-hover-2;
    background: -webkit-linear-gradient(-180deg, $pk-clear-background-button-background-color-hover-1, $pk-clear-background-button-background-color-hover-2, $pk-clear-background-button-background-color-hover-3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-180deg, $pk-clear-background-button-background-color-hover-1, $pk-clear-background-button-background-color-hover-2, $pk-clear-background-button-background-color-hover-3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-180deg, $pk-clear-background-button-background-color-hover-1, $pk-clear-background-button-background-color-hover-2, $pk-clear-background-button-background-color-hover-3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-180deg, $pk-clear-background-button-background-color-hover-1, $pk-clear-background-button-background-color-hover-2, $pk-clear-background-button-background-color-hover-3); /* Standard syntax */
  }

  .pk-button[disabled],
  input[type='submit'][disabled],
  input[type='button'][disabled],
  button[disabled] {
    cursor: default;
    background-color: transparent !important;
  }
}

.pk-label-for {
  cursor: pointer;
}

.pk-label-for:hover {
  text-decoration: underline;
  color: $pk-button-color-hover;
}

.pk-label {
}

.pk-label::after {
  content: ":";
}

.pk-value {
  float: left;
  display: inline;
}

//Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {  
}

//Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
  .pk-inputform {
    label {
      cursor: pointer;
      width: 100% !important;

      input[type=text],
      input[type=number],
      input[type=email],
      input[type=password],
      input[type=tel],
      input[type=url],
      select,
      textarea {
        width: 100% !important;
      }
    }

    label:hover {
      text-decoration: underline;
    }
  }
}

//Medium devices (tablets, less than 992px)
@include media-breakpoint-down(md) {  
}

//Large devices (desktops, less than 1200px)
@include media-breakpoint-down(lg) {  
}

//Extra large devices (large desktops)
@include media-breakpoint-down(xl) {  
}

//Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-up(xs) {  
}

//Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {  
}

//Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {  
}

//Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {  
  input[type=text],
  input[type=number],
  input[type=email],
  input[type=password],
  input[type=tel],
  input[type=url] {
    padding: 1.5rem 2rem;
    letter-spacing: 0.2rem;
  }

  select {
    padding: 1rem 2rem 1rem 1rem;
  }
}

//Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {  
}


