$border-radius: 0;
$primary-color: #ff9933;

/*main variables*/
$pk-main-color: #888;
$pk-main-font-family: Arial, Helvetica, sans-serif;
$pk-h1-font-family: 'Poppins',Arial, Helvetica, sans-serif;
$pk-h2-font-family: 'Poppins',Arial, Helvetica, sans-serif;
$pk-h3-font-family: Arial, Helvetica, sans-serif;


/*page variables*/
$pk-page-color: yellow;
$pk-breadcrumb-color: $primary-color;
$pk-breadcrumb-color-hover: yellow;
$pk-breadcrumb-background-color: rgba(0, 0, 0, 0.8);
$pk-main-content-background-color: rgba(0, 0, 0, 0.8);
$pk-main-content-h2-color: #ffffff;
$pk-main-content-h3-color: $primary-color;
$pk-main-content-h4-color: $primary-color;
$pk-main-content-label-color: $primary-color;

/*Navigation Varaibles */
$pk-nav-a-color: #607D8B;
$pk-nav-a-color-hover: #039be5;
$pk-nav-a-background-color-hover: #CFD8DC;
$pk-nav-a-color-active: #039be5;

/*form variables*/
$pk-form-font-family: Arial, Helvetica, sans-serif;

/*Form variables*/
$input-border: 1px solid #000;
$input-border-radius: $border-radius;
$input-color: #222;
$input-background-color: white;
$pk-button-border-radius: $border-radius;
$pk-button-color: $primary-color;
$pk-button-color-hover: yellow;
$pk-button-disabled-color: $primary-color;
$pk-button-disabled-color-hover: #fff;
$pk-button-disabled-background-color: transparent;
/*$pk-clear-background-button-color: $primary-color;*/
$pk-clear-background-button-color: #69f; 
/*$pk-button-background-color-1: rgb(60,60,60);
$pk-button-background-color-2: rgb(0,0,0);
$pk-button-background-color-3: rgb(10,10,10);*/
$pk-button-background-color-1: #111111;
$pk-button-background-color-2: #1F1F1F;
$pk-button-background-color-3: #111111;
$pk-clear-background-button-color-hover :#99ccff;
/*$pk-clear-background-button-background-color-1: rgb(50,50,50);
$pk-clear-background-button-background-color-2: rgb(0,0,0);
$pk-clear-background-button-background-color-3: rgb(10,10,10);*/
$pk-clear-background-button-background-color-1: #2b2b2b;
$pk-clear-background-button-background-color-2: #2b2b2b;
$pk-clear-background-button-background-color-3: #2b2b2b;
$pk-clear-background-button-background-color-hover-1: darken($pk-clear-background-button-background-color-1, 5%);
$pk-clear-background-button-background-color-hover-2: darken($pk-clear-background-button-background-color-2, 5%);
$pk-clear-background-button-background-color-hover-3: darken($pk-clear-background-button-background-color-3, 5%);
$pk-button-border-width: 1px;
$pk-button-border-color: $primary-color;
$pk-button-border-color-hover: $primary-color;
/*$pk-clear-background-button-border-color: #333;
$pk-clear-background-button-border-color-hover: #111;*/
$pk-clear-background-button-border-color: #333;
$pk-clear-background-button-border-color-hover: #333;

/*List Variables*/
$pk-list-header-row-background-color: #3366ff;
$pk-list-header-row-color: #e8f2f2;
$pk-list-body-color: #333;
$pk-list-body-background-color: #ffffff;
$pk-list-body-anchor-color: #007bff;
$pk-list-body-anchor-color-hover: #6699ff;


/*Components*/
/*RootCollapserComponent variables*/
$pk-collapser-color: $primary-color;
$pk-collapser-color-hover: yellow;


