<nav class="pk-component TopMenuComponent navbar navbar-expand-lg navbar-dark" role="navigation">
  <span routerLinkActive="pk-active">
    <a class="navbar-brand" routerLink="/home"><span style="text-transform:none !important">piKinco</span></a>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#TopMenuComponentNavigation" aria-controls="TopMenuComponentNavigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="TopMenuComponentNavigation"  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="pk-active"><a class="nav-link" routerLink="/play">{{Localise(this.LocalisationService.CaptionConstants.Play)}}</a></li>
      <ng-container *ngIf="AuthenticationService.IsAuthenticated">
        <li class="nav-item" routerLinkActive="pk-active"><a class="nav-link" routerLink="/tickets">{{Localise(this.LocalisationService.CaptionConstants.MyTickets)}}</a></li>
      </ng-container>
      <ng-container *ngIf="!AuthenticationService.IsAuthenticated">
        <li class="nav-item" routerLinkActive="pk-active"><a class="nav-link" routerLink="/register">{{Localise(this.LocalisationService.CaptionConstants.Register)}}</a></li>
        <li class="nav-item" routerLinkActive="pk-active"><a class="nav-link" routerLink="/login">{{Localise(this.LocalisationService.CaptionConstants.LogIn)}}</a></li>
        <li class="nav-item" routerLinkActive="pk-active"><a class="nav-link" routerLink="/resetpassword">{{Localise(this.LocalisationService.CaptionConstants.ResetPassword)}}</a></li>
      </ng-container>
      <li class="nav-item" routerLinkActive="pk-active"><a class="nav-link" routerLink="/winningtickets">{{Localise(this.LocalisationService.CaptionConstants.WinningTickets)}}</a></li>
      <ng-container *ngIf="AuthenticationService.IsAuthenticated">
        <li class="nav-item" routerLinkActive="pk-active"><a class="nav-link" routerLink="/dashboard">{{Localise(this.LocalisationService.CaptionConstants.Dashboard)}}</a></li>
      </ng-container>
      <ng-container *ngIf="AuthenticationService.IsAuthenticated">
        <li class="nav-item" routerLinkActive="pk-active"><a class="nav-link" (click)="onSignOut()">{{Localise(this.LocalisationService.CaptionConstants.SignOut)}}</a></li>
      </ng-container>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <table class="pk-dashboard-summary">
          <!--<tr>
            <td>
              <table>
                <tr>
                  <td class="pk-current-time">
                    {{GlobalisationService.FormatDate(CurrentTime)}}
                  </td>
                  <td></td>
                </tr>
              </table>
            </td>
          </tr>-->
          <tr>
            <ng-container *ngIf="!AuthenticationService.IsAuthenticated">
              <td IsNotAuthenticated class="pk-welcome pk-welcome-guest"><span>{{Localise(this.LocalisationService.CaptionConstants.Welcome)}}</span></td>
            </ng-container>
            <ng-container *ngIf="AuthenticationService.IsAuthenticated && AutheticatedMember">
              <td class="IsAuthenticated" pk-welcome pk-welcome-member>
                <a routerLink="/dashboard"><span>{{Localise(this.LocalisationService.CaptionConstants.Welcome)}} {{AutheticatedMember.DisplayName}}</span></a>
              </td>
            </ng-container>
          </tr>
          <tr *ngIf="AuthenticationService.IsAuthenticated && AutheticatedMember">
            <td>
              <table>
                <tr>
                  <td>
                    <a routerLink="dashboard/funding/viewstatement" class="text-nowrap"><span>{{Localise(this.LocalisationService.CaptionConstants.Balance)}} </span><span [innerHTML]="GlobalisationService.FormatCurrency(this.GlobalisationService.ToSessionCurrency(AutheticatedMember.Funding.Balance), true) | safe"></span></a>
                    &nbsp;&nbsp;
                    <a routerLink="dashboard/funding/addfunds"><span>{{Localise(this.LocalisationService.CaptionConstants.AddFunds)}}</span></a>
                    &nbsp;&nbsp;
                    <a routerLink="dashboard/funding/withdrawfunds"><span>{{Localise(this.LocalisationService.CaptionConstants.WithdrawFunds)}}</span></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table>
                <tr>
                  <td>
                    <select name="LanguagesSelect" [(ngModel)]="SessionService.Session.CurrentLanguage" class="pk-languages">
                      <option *ngFor="let l of SessionService.Languages" [ngValue]="l">{{l.DisplayName}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    <select name="CurrenciesSelect" [(ngModel)]="SessionService.Session.CurrentCurrency" class="pk-currencies">
                      <option *ngFor="let c of SessionService.Currencies" [ngValue]="c">{{Localise(c.DisplayName)}}</option>
                    </select>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </li>
    </ul>

    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>