@import "../../../../../../node_modules/bootstrap/scss/bootstrap.scss";

.TopMenuComponent {
  background-color: rgba(5, 5, 5, 0.9) !important;
}

.DashBoardSummary .FullText {
}


.pk-dashboard-summary {
  padding: 1em;
}

.pk-dashboard-summary a {
  padding: 0.5em !important;
}

.pk-dashboard-summary .pk-current-time,
.pk-dashboard-summary .pk-welcome,
.pk-dashboard-summary .pk-welcome.pk-welcome-guest,
.pk-dashboard-summary .pk-welcome.pk-welcome-member {
  color: #ff9900;
}

.pk-navbar-brand-container a,
.TopMenuComponent a {
  color: #ff9900 !important;
  padding: 1em;
}

.pk-navbar-brand-container a:hover,
.TopMenuComponent a:hover {
  color: yellow !important;
  background-color: rgba(0, 0, 0, 0.8);
}

.pk-navbar-brand-container.pk-active a,
.TopMenuComponent .pk-active a {
  border-bottom: #3366FF 3px solid;
  color: #f0f0fF !important;
  font-weight: bold;
  cursor: default;
  text-decoration: none;
}


.navbar select.pk-languages {
  margin-top: 1em;
}

.navbar select {
  width: 100%;
  background-color: white;
  color: black;
  margin-bottom: 0.5em;
}

//Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
}

//Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
  .DashBoardSummary {
    font-size: 80%;
  }

  .pk-dashboard-summary {
    padding: 1em;
  }

  .pk-dashboard-summary a {
    padding: 0.5em !important;
  }

  .pk-dashboard-summary .pk-current-time,
  .pk-dashboard-summary .pk-welcome,
  .pk-dashboard-summary .pk-welcome.pk-welcome-guest,
  .pk-dashboard-summary .pk-welcome.pk-welcome-member {
    
  }

  .pk-navbar-brand-container a,
  .TopMenuComponent a {    
    padding: 1em;
  }

  .pk-navbar-brand-container a:hover,
  .TopMenuComponent a:hover {    
  }

  .pk-navbar-brand-container.pk-active a,
  .TopMenuComponent .pk-active a {    
  }


  .navbar select.pk-languages {
    margin-top: 1em;
  }

  .navbar select {
    width: 100%;    
    margin-bottom: 0.5em;
  }
}

//Medium devices (tablets, less than 992px)
@include media-breakpoint-down(md) {
}

//Large devices (desktops, less than 1200px)
@include media-breakpoint-down(lg) {
}

//Extra large devices (large desktops)
@include media-breakpoint-down(xl) {
}

//Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-up(xs) {
}

//Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
}

//Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .pk-dashboard-summary {
    padding: 1em;
  }

  .pk-dashboard-summary a {
    padding: 0.5em !important;
  }

  .pk-dashboard-summary .pk-current-time,
  .pk-dashboard-summary .pk-welcome,
  .pk-dashboard-summary .pk-welcome.pk-welcome-guest,
  .pk-dashboard-summary .pk-welcome.pk-welcome-member {    
  }

  .pk-navbar-brand-container a,
  .TopMenuComponent a {    
    padding: 1em;
  }

  .pk-navbar-brand-container a:hover,
  .TopMenuComponent a:hover {    
  }

  .pk-navbar-brand-container.pk-active a,
  .TopMenuComponent .pk-active a {    
  }


  .navbar select.pk-languages {
    margin-top: 1em;
  }

  .navbar select {
    width: 100%;    
    margin-bottom: 0.5em;
  }
}

//Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
}

//Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
}
