<article class="pk-component TotalPayoutComponent">    
    <!-- <h3 *ngIf="TotalPrizes"><a routerLink="/winningtickets" *ngIf="TotalPrizes"><span [innerHTML]="GlobalisationService.FormatCurrency(TotalPrizes, true) | safe"></span></a> {{Localise(LocalisationService.CaptionConstants.TotalPrizesPaidOutSoFarTo)}}<a routerLink="/winningtickets">{{Localise(LocalisationService.CaptionConstants.TotalWinningTickets, '', TotalWinningTickets.toString())}} </a></h3> -->
    <h3 *ngIf="TotalPrizes"><span [innerHTML]="GlobalisationService.FormatCurrency(TotalPrizes, true) | safe"></span> {{Localise(LocalisationService.CaptionConstants.TotalPrizesPaidOutSoFarTo)}}{{Localise(LocalisationService.CaptionConstants.TotalWinningTickets, '', TotalWinningTickets.toString())}} </h3>
</article>
